<section class="heroes-container-1">
  <div class="heroes-1">


    <%= render 'carousel' %>
    <!-- search bar is in carousel partial -->

  </div>
</section>

<section class="heroes-container-2">
  <div class="heroes-2">
    <span class="blurb-2">
      <h1>Tailored inspiration</h1>
      <h3>Our style algorithm takes every factor into account: venue location, crowd and even weather. We pay attention so you don't have to.</h3>
    </span>
    <img src='assets/shirts.png' alt='shirts'>
  </div>
</section>

<section class="heroes-container-3">
  <div class="heroes-3">
    <img src='assets/zappos_matching.png' alt='shirts'>
    <span class="blurb-3">
      <h1>Powered by Zappos</h1>
      <h3>We've searched through the eclectic Zappo's catalog curating looks for every place and any occasion.</h3>
    <span>
  </div>
</section>

<section class="heroes-container-4">
  <div class="heroes-4">
    <span class="blurb-4">
      <h1>Tagged </h1>
      <h3>Authentic disrupt ennui, polaroid dreamcatcher blue bottle quinoa 90's salvia.</h3>
      <p>
    <span/>
  </div>
</section>
