<section class="heroes-container">
  <div class="heroes">
    Working Process
  </div>
</section>

<section class="heroes-container">
  <div class="heroes">
    <div class="team-member">
      A
    </div>
    <div class="team-member">
      B
    </div>
    <div class="team-member">
      C
    </div>
    <div class="team-member">
      D
    </div>
  </div>
</section>