<section class="heroes-container">
  <div class="heroes">
    Working Process
  </div>
</section>

<section class="heroes-container">
  <div class="heroes">
    <div class="team-member">
      <%= image_tag("lior"), :class => 'lior'%>
    </div>
    <div class="team-member">
      <%= image_tag("ian"), :class => 'ian'%>
    </div>
    <div class="team-member">
      <%= image_tag("ian"), :class => 'ian'%>
    </div>
    <div class="team-member">
      D
    </div>
  </div>
</section>

<script>
$(document).ready(function) {


}