<div class="tab-fixed-top">
  <div class="tab-venue-menu-container">

    <div class="tab-venue-menu">
      <h3>What would you would wear to <%= @venue.name.titleize %>?</h3>
      <ul>
        <li><a href="#" id='confirm'><span class="entypo-check"></span></a></li>
        <li><a href="#", id='back-home'><span class="entypo-cancel"></span></a></li>
      </ul>
    </div>

  </div>


</div>