<div class="show">

  <div class="clothes">
    <h3>Try these clothes</h3>

    <div class="items-container">

      <div class="items-block">
        <div class="items">
          <a href="image_url"><img src="http://imagesecaw.ctscdn.com/image/263/375/d42652d7-2472-401c-85f7-f7c792dee96d.jpg" /></a>
          <div class="likes">
            <button>Like</button>
          </div>
        </div>
      </div>

      <div class="items-block">
        <div class="items">
          <a href="image_url"><img src="http://imagesecaw.ctscdn.com/image/263/375/2cd3213a-cc49-43d9-92e5-11322931be8c.jpg" /></a>
          <div class="likes">
            <button>Like</button>
          </div>
        </div>
      </div>

      <div class="items-block">
        <div class="items">
          <a href="image_url"><img src="http://imagesecaw.ctscdn.com/image/263/375/65ca1960-82e2-4fb7-ad06-5200b499da7a.jpg" /></a>

          <div class="likes">
            <button>Like</button>
          </div>
        </div>
      </div>
    </div>

    <div class="more">
      <a href="/"><span class="entypo-right-open-big"></span></a></br>
      <a href="/items/new">+</a>
    </div>

  </div>


  <div class="shoes">
    <h3>That goes with those shoes</h3>
  </div>

  <div class="accessories">
    <h3>...and spiced up by those accessories</h3>
  </div>

</div>