<div class="fixed-top">
  <div class="venue-menu-container">

    <div class="venue-menu">
      <h3><%= @venue.name.upcase %></h3>
      <ul>
        <li><a href="#">Details</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Tags</a></li>
      </ul>
    </div>

  </div>

  <%= render 'tab' %>
</div>

<div class="venue-content">
  <section class="venue-items-container">
    <%= render 'show' %>
    <%= render 'add' %>
  </section>
</div>


<script>

  function fixDiv() {
    var $cache = $('.fixed-top');

    if ($(window).scrollTop() > 120) {
      $cache.css({'position': 'fixed', 'top': '0'});
      $('.venue-content').css('margin-top','50px');
    } else {
      $cache.css({'position': 'relative', 'top': 'auto'});
      $('.venue-content').css('margin-top','0');
    }
  }

  $(window).scroll(fixDiv);

  fixDiv();
</script>

<script>

$('.venue-menu ul li:nth-child(1)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.weather').css('display', 'none');
  $('.tags').css('display', 'none');
  $('.details').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'rgba(250,250,250,1)');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');
});

$('.venue-menu ul li:nth-child(2)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.details').css('display', 'none');
  $('.tags').css('display', 'none');
  $('.weather').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'rgba(250,250,250,1)');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');
});

$('.venue-menu ul li:nth-child(3)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.details').css('display', 'none');
  $('.weather').css('display', 'none');
  $('.tags').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'rgba(250,250,250,1)');
});

$('.venue-tab').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideUp('slow');

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');
});

</script>

<script>
//PREVIOUS JQ
//change header when .add div is displayed
//display and remove .add div (user clothing tagging)
// $(document).ready(function(){
//   $(".add-tags").click(function(event){
//     event.preventDefault();
//     $(".fixed-top").slideUp('fast', function() {
//       setTimeout(500);  
//       $(".tab-fixed-top").slideDown('fast', function() {
//         setTimeout(2000);
//         $(".add").slideDown(800);
//       });
//     });
//   });
 
//   $('#back-home').click(function(){
//     event.preventDefault();
//     $('.add').fadeOut(500);
//     $(".tab-fixed-top").fadeOut(100);
//     $(".fixed-top").fadeIn(500);
//     $("html, body").animate({ scrollTop: 0 }, 400);
//       return false;

//   });
// });
// </script>

<script>
//previous JQ
//fix .add div
// function fixTabDiv() {
//     var $tabCache = $('.tab-fixed-top');

//       if ($(window).scrollTop() > 140) {
//         $tabCache.css({'position': 'fixed', 'top': '0'});
//         $('.venue-content').css('margin-top','50px');
//       } else {
//         $tabCache.css({'position': 'relative', 'top': 'auto'});
//         $('.venue-content').css('margin-top','0');
//       }

//   }

// $(window).scroll(fixTabDiv);
// fixTabDiv();

</script>


$('.add-tags').click(function(event){
  event.preventDefault();

  $('.loading').css('display','block');

  var select = $(this).children();

  $.ajax({

    url: select.attr("href"),
    success: function(data) {
      $('.add').append(data);
      $('.add').fadeIn();
      $('.loading').css('display','none');
    }
  })

})


//display and remove .add div (user clothing tagging)

// $(".add-tags").click(function(){
//   event.preventDefault();
//   $(".add").fadeIn(1000);
// });

// $('html').click(function(event){
//   event.preventDefault();
//   $('.add').fadeOut(1000);
// });

// $('.add-tags').click(function(event){
//     event.stopPropagation();
// });
</script>

<script>
//change header when .add div is displayed

$(document).ready(function(){

 if ($('.add').css('display') !== 'none') {
    console.log("hi");
}
  });


</script>
