<div class="fixed-top">
  <div class="venue-menu-container">

    <div class="venue-menu">
      <h3><%= @venue.name.upcase %></h3>
      <ul>
        <li><a href="#">Details</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Tags</a></li>
      </ul>
    </div>

  </div>

  <%= render 'tab' %>

</div>

<div class="alternate-fixed-top">
  <div class="alternate-venue-menu-container">
    <div class="alternate-venue-menu">
      <h3>What would you would wear to <%= @venue.name.titleize %>?</h3>
      <ul>
        <li><a href="#" id='confirm'><span class="entypo-check"></span></a></li>
        <li><a href="#", id='back-home'><span class="entypo-cancel"></span></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="venue-content">
  <section class="venue-items-container">
    <%= render 'show' %>

    <div class="add">
      <img src="assets/loading.gif" class="loading" />
    </div>
  </section>
</div>


<script>
// fixed header on scroll

  function fixDiv() {
    var $cache = $('.fixed-top');

    if ($(window).scrollTop() > 120) {
      $cache.css({'position': 'fixed', 'top': '0'});
      $('.venue-content').css('margin-top','50px');
    } else {
      $cache.css({'position': 'relative', 'top': 'auto'});
      $('.venue-content').css('margin-top','0');
    }
  }

  $(window).scroll(fixDiv);

  fixDiv();
</script>

<script>
// display tab modal

$('.venue-menu ul li:nth-child(1)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.weather').css('display', 'none');
  $('.tags').css('display', 'none');
  $('.details').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'rgba(250,250,250,1)');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');

});

$('.venue-menu ul li:nth-child(2)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.details').css('display', 'none');
  $('.tags').css('display', 'none');
  $('.weather').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'rgba(250,250,250,1)');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');

});

$('.venue-menu ul li:nth-child(3)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.details').css('display', 'none');
  $('.weather').css('display', 'none');
  $('.tags').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'rgba(250,250,250,1)');

});

$('.venue-tab').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideUp('slow');

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');
});

</script>

<script>
// display add modal

// PREVIOUS JQ
// change header when .add div is displayed
// display and remove .add div (user clothing tagging)
$(document).ready(function(){
  $(".add-tags").click(function(event){
    event.preventDefault();

    var select = $(this).children();

    $(".fixed-top").slideUp('fast', function() {

      $(".alternate-fixed-top").slideDown('fast', function() {
        $(".add").slideDown(800);
        $('.loading').css('display','block');

        $.ajax({

          url: select.attr("href"),
          success: function(data) {
            $('.add').append(data);
            $('.loading').css('display','none');
          }
        })

      });
    });
  });

  $('#back-home').click(function(){
    event.preventDefault();
    $('.add').fadeOut(500);
    $(".alternate-fixed-top").fadeOut(100);
    $(".fixed-top").fadeIn(500);
    $("html, body").animate({ scrollTop: 0 }, 400);
      return false;

  });
});

</script>

<script>
// previous JQ
// fix .add div
function fixTabDiv() {
    var $tabCache = $('.alternate-fixed-top');

      if ($(window).scrollTop() > 140) {
        $tabCache.css({'position': 'fixed', 'top': '0'});
        $('.venue-content').css('margin-top','50px');
      } else {
        $tabCache.css({'position': 'relative', 'top': 'auto'});
        $('.venue-content').css('margin-top','0');
      }

  }

$(window).scroll(fixTabDiv);
fixTabDiv();

</script>
