<div class="fixed-top">
  <div class="venue-menu-container">

    <div class="venue-menu">
      <h3><%= @venue.name.upcase %></h3>
      <ul>
        <li><a href="#">Details</a></li>
        <li><a href="#">Weather</a></li>
        <li><a href="#">Tags</a></li>
      </ul>
    </div>

  </div>

  <%= render 'tab' %>
</div>


<div class="venue-content">
  <section class="venue-items-container">
    <%= render 'show' %>
    <%= render 'add' %>
  </section>
</div>




<!-- scripts -->

<script>

  $('.more a:nth-child(2)').click(function(event){
    event.preventDefault();
    $('.add').fadeIn();
    console.log('hahaha');
  });

</script>

<script>

  function fixDiv() {
    var $cache = $('.fixed-top');

    if ($(window).scrollTop() > 120) {
      $cache.css({'position': 'fixed', 'top': '0'});
      $('.venue-content').css('margin-top','50px');
    } else {
      $cache.css({'position': 'relative', 'top': 'auto'});
      $('.venue-content').css('margin-top','0');
    }
  }

  $(window).scroll(fixDiv);

  fixDiv();
</script>

<script>

$('.venue-menu ul li:nth-child(1)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.weather').css('display', 'none');
  $('.tags').css('display', 'none');
  $('.details').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'rgba(250,250,250,1)');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');

});

$('.venue-menu ul li:nth-child(2)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.details').css('display', 'none');
  $('.tags').css('display', 'none');
  $('.weather').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'rgba(250,250,250,1)');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');

});

$('.venue-menu ul li:nth-child(3)').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideDown('slow');
  $('.details').css('display', 'none');
  $('.weather').css('display', 'none');
  $('.tags').fadeIn();

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'rgba(250,250,250,1)');

});

$('.venue-tab').click(function(event){
  event.preventDefault();
  $('.venue-tab').slideUp('slow');

  $('.venue-menu ul li:nth-child(1)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(2)').css('background', 'transparent');
  $('.venue-menu ul li:nth-child(3)').css('background', 'transparent');
});

</script>


