<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone left us a comment!</h1>
    <p>
       This comment is from: <%= @name %> <br/>
    </p>
    <p>
      Their email address is: <%= @email %> <br/>
    </p>
    <p>This is their comment : <%= @content %> </p>
  </body>
</html>ßß
