<div class="item-menu-container">

  <div class="item-menu">
    <h3>Add tops for The Phone Booth</h3>
    <ul>
      <li>Confirm</li>
      <li>Back</li>
    </ul>
  </div>

</div>

<div class="item-select-container">

    <div class="select-item">
      <a href="image_url"><img src="http://imagesecaw.ctscdn.com/image/263/375/d42652d7-2472-401c-85f7-f7c792dee96d.jpg" /></a>
      <div class="select">
        <button>Select</button>
      </div>
    </div>

    <div class="select-item">
      <a href="image_url"><img src="http://imagesecaw.ctscdn.com/image/263/375/d42652d7-2472-401c-85f7-f7c792dee96d.jpg" /></a>
      <div class="select">
        <button>Select</button>
      </div>
    </div>

    <div class="select-item">
      <a href="image_url"><img src="http://imagesecaw.ctscdn.com/image/263/375/d42652d7-2472-401c-85f7-f7c792dee96d.jpg" /></a>
      <div class="select">
        <button>Select</button>
      </div>
    </div>

</div>