.add {
  width: 100%;
  display: none;
  overflow: scroll;
  background: rgba(250,250,250,1);
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.add-text{
  padding-left: 2%;
  margin-top: 3%;
  line-height: 100%;
}

.add h2, .add h3 {
  color: rgba(61, 61, 61, 1);
}

/*items container for 12 pieces*/

.loading {
  display: none;
  width: 150px;
  margin: 0 auto;
}

.zappos-item {
  width: 280px;
  height: 320px;
  float: left;
  overflow: hidden;
  background: white;
  margin: 19px;
  padding: 0;
  position: relative;
  border: 1px solid rgba(220,220,220,1);
}

.zappos-image {
  width: 100%;
  overflow: hidden;
}

.zappos-image img {
  width: 120%;
  display: block;
  margin: 0 auto 0 -10%;
}

.zappos-info {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 0;
  bottom: -80px;
  background: rgba(236, 240, 241,0.9);
}

.zappos-info input[type="submit"] {
  width: 100%;
  margin: 0;
  height: 40px;
  background: rgba(236, 240, 241,1.0);
  border-bottom: 1px solid white;
  font-weight: 400;
  font-size: 24px;
  color: grey;
}

.zappos-info input[type="submit"]hover {
  background: white;
}

.zappos-info .zappos-text-info {
  width: 100%;
  height: 80px;
}

.zappos-info .zappos-text-info div:nth-child(1) {
  color: grey;
  font-weight: 400;
  width: 60%;
  height: 100%;
  float: left;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

.zappos-info .zappos-text-info div:nth-child(2){
  color: grey;
  width: 38%;
  height: 100%;
  float: right;
  font-size: 18px;
  border-left: 1px solid white;
  text-align: center;
  margin-top: 30px;
}


