.heroes-container-1,
.heroes-container-2,
.heroes-container-3,
.heroes-container-4 {
  border: 1px solid grey;
  height: 560px;
}

.heroes-container-1 .heroes-1,
.heroes-container-2 .heroes-2,
.heroes-container-3 .heroes-3,
.heroes-container-4 .heroes-4 {
  width: 960px;
  margin: 0 auto 0 auto;
}

.blurb-2,
.blurb-3,
.blurb-4 {
	position: absolute;
	width: 40%;
	margin-top: 12%;
	text-transform: uppercase;
	text-align: justify;
}



.heroes-container-2 .heroes-2 img,
.heroes-container-3 .heroes-3 img,
.heroes-container-4 .heroes-4 img {
	width: 72%;
	margin: 9% 36%;
	background: white;
}

.blurb-2 h3,
.blurb-3 h3,
.blurb-4 h3 {
	position: absolute;
	width: 66%;
} 

.blurb-2 h3 {
	width: 57%;
}

.blurb-3 {
	margin-left: 20%;
}

.blurb-3 h3 {
	width: 56%;
}

.heroes-container-3 .heroes-3 img {
	margin: 6% -25%;
	width: 80%;
}

.heroes-container-1,
.heroes-container-2,
.heroes-container-3, 
.heroes-container-4 {
  background: white;
}

#ui-id-1 {
  height: 120px;
  overflow: scroll;
}

