@import url(http://weloveiconfonts.com/api/?family=entypo);

@font-face {
  font-family: "iconvault";
  src: url("assets/iconvault_forecastfont.eot");
  src: url("assets/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
       url("assets/iconvault_forecastfont.woff") format("woff"),
       url("assets/iconvault_forecastfont.ttf") format("truetype"),
       url("assets/iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

body {
  background: white;
  color: rgba(60,60,60,1);
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

p {
  display: inline;
}

a {
  display: inline;
}

a:link, a:visited {
  color:rgba(60,60,60,1);
  text-decoration:none;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  color: black;
  font-size: 24px;
}

.menubar-container {
  background: rgba(52, 73, 94,1.0);
  height: 50px;
/*  display: none;*/
  width: 100%;
}

.menubar-container .menubar {
  width: 960px;
  margin: 0 auto;
}

.menubar-container .menubar .nav-text {
  float: right;
}

.header-container {
  border: 1px solid black;
  width: 100%;
  height: 100px;
}

.header-container .header {
  width: 960px;
  margin: 0 auto;
}

.header-container .logo {
  width: 960px;
  display: block;
  background: transparent;
  text-align: center;
  margin-top: 20px;
}

.header-container .logo div {
  background-color: gold;
  width: 140px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}

.header-container .nav-buttons {
  width: 70px;
  height: 50px;
  position: absolute;
  right: 0;
}

.footer {
  border: 1px solid black;
  width: 100%;
  height: 30px;
  text-align: center;
}
