/*container for list of items*/


.clothes, .shoes, .accessories {
  width: 100%;
  border-bottom: 5px solid black;
  overflow: hidden;
}


/*items and items container*/

.items-container {
  width: 95%;
  float: left;
}

.items-container .items-block {
  width: 33%;
  float: left;
  height: 400px;
  margin: 10px 0 25px 0;
}

.items {
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.items img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.items .likes {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(0,0,0,0.8);
}

.items .likes button {
  display: block;
  height: 30px;
  margin: 0 auto;
  width: 60px;
  background-color: transparent;
  border: none;
  color: white;
}


/*more clickables*/

.more {
  float: right;
  width: 5%;
}

.more [class*="entypo-"]:before {
  font-size: 50px;
  display: block;
  margin-top: 80px;
}

.more a {
  font-size: 50px;
  color: black;
}